@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #181818;
}

html, body, h1, h2, h4, p {
    margin: 0;
    padding: 0;
    font-size: 100%;
	vertical-align: baseline;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}



.main {
    display: flex;
    min-width: 100vw;
    height: 100vh;
}

.left, .right{
    min-width: 50vw;
    background-color: #ffffff;
    overflow: hidden;
}

img{
    margin: 0;
    padding: 0;
    object-fit:cover;
    height: 100vh;
    width: 50vw;
}

.left{
    color: #ffffff;
    align-items: flex-end;
    position: relative;
}

.right, .container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.container{
    gap: 48px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.header h4 {
    font-weight: 400;
    font-size: 1.3rem;
    color: #929292;
}

.quote {   
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 64px;
    right: 64px;
    bottom: 96px;
    gap: 24px;
}

.quote h1{
    font-size: 2.8rem;
    font-weight: 500;
}

.author{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#artist { font-size: 24px; }
#company { font-size: 16px; }

.double-field {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.form-input {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 8px;
}

input {
    height: 24px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 8px 12px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.bottom{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-self: center;
    align-items: center;
    margin-top: 32px;
}

.bottom button{
    width:100%;
    display:block;
    background-color: #101727;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
}